h3 {
  font-family: sans-serif;
  color: red;
  font-weight: bold;
}

.crooked-man {
  font-weight: lighter;
  color: orange;
}

.greek-god {
  font-style: italic;
  color: purple;
  font-weight: bold;
}
